<ng-http-loader />
<div class="container">
    <div class="row align-items-start">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="head-title-global d-flex justify-content-between mb-4">
                <div class="col-12 col-md-12 col-lg-4 head-title-global__left d-flex">
                    <h2 class="me-2 mb-0 border-bottom border-secondary pb-1">
                        <span class="d-block text-decoration-none text-dark fs-4 title-head-name"
                            title="Thông tin truyện">Thông
                            tin truyện</span>
                    </h2>
                </div>
            </div>
           
            <div class="story-detail">
                <div class="story-detail__top d-flex align-items-start">
                    <div class="row align-items-start">
                        <div class="col-sm-12 col-md-12 col-lg-3 story-detail__top--image" >
                            <div class="book-3d" style="width: 13em; height: 17em;">
                                <img src="{{book?.coverImage}}"
                                    alt="{{book?.title}}" class="img-fluid" style="width: 13em; height: 17em;"
                                    height="300" loading="lazy">
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-9">
                            <h1 class="text-center story-name">{{book?.title}}</h1>
                            <div class="rate-story mb-2">
                                <div class="rate-story__holder d-flex" data-score="7.0">


                                    <img alt="1" src="./assets/images/star-on.png">



                                    <img alt="2" src="./assets/images/star-on.png">



                                    <img alt="3" src="./assets/images/star-on.png">



                                    <img alt="4" src="./assets/images/star-on.png">



                                    <img alt="5" src="./assets/images/star-on.png">



                                    <img alt="6" src="./assets/images/star-on.png">



                                    <img alt="7" src="./assets/images/star-half.png">



                                    <img alt="8" src="./assets/images/star-off.png">



                                    <img alt="9" src="./assets/images/star-off.png">



                                    <img alt="10" src="./assets/images/star-off.png">




                                </div>
                                <em class="rate-story__text"></em>
                                <!-- <div class="rate-story__value" itemprop="aggregateRating" itemscope=""
                                    itemtype="https://schema.org/AggregateRating">
                                    <em>Đánh giá:
                                        <strong>
                                            <span itemprop="ratingValue">7.0</span>
                                        </strong>
                                        /
                                        <span class="" itemprop="bestRating">10</span>
                                        từ
                                        <strong>
                                            <span itemprop="ratingCount">415</span>
                                            lượt
                                        </strong>
                                    </em>
                                </div> -->
                            </div>

                            <div class="story-detail__top--desc px-3" style="max-height: 285px;" [innerHTML]="book?.description">
                                
                            </div>

                            <div class="info-more">
                                <div class="info-more--more active" id="info_more">
                                    <span class="me-1 text-dark">Xem thêm</span>
                                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.70749 7.70718L13.7059 1.71002C14.336 1.08008 13.8899 0.00283241 12.9989 0.00283241L1.002 0.00283241C0.111048 0.00283241 -0.335095 1.08008 0.294974 1.71002L6.29343 7.70718C6.68394 8.09761 7.31699 8.09761 7.70749 7.70718Z"
                                            fill="#2C2C37"></path>
                                    </svg>
                                </div>

                                <a class="info-more--collapse text-decoration-none"
                                   >
                                    <span class="me-1 text-dark">Thu gọn</span>
                                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.70749 0.292817L13.7059 6.28998C14.336 6.91992 13.8899 7.99717 12.9989 7.99717L1.002 7.99717C0.111048 7.99717 -0.335095 6.91992 0.294974 6.28998L6.29343 0.292817C6.68394 -0.097606 7.31699 -0.0976055 7.70749 0.292817Z"
                                            fill="#2C2C37"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="book !== undefined" class="story-detail__bottom mb-3 mt-2">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 story-detail__bottom--info">
                            <p class="mb-1">
                                <strong>Tác giả:</strong>
                                <a
                                    class="text-decoration-none hover-title">&nbsp;{{book.author.name}}
                                </a>
                            </p>
                            <div class="d-flex align-items-center mb-1 flex-wrap">
                                <strong class="me-1">Thể loại:</strong>
                                <div class="d-flex align-items-center flex-warp">
                                    @for (genre of book.genres; track $index) {
                                        <a
                                            class="text-decoration-none hover-title me-1 "
                                            style="width: max-content;">{{genre.name}}<i *ngIf="$index + 1 < book?.genres!.length">,</i>
                                        </a>
                                    }
                                </div>
                            </div>

                            <p class="mb-1">
                                <strong>Trạng thái:</strong>
                                <span class="text-info">
                                    @if (book.status === 0) {
                                        Còn tiếp
                                    } @else if (book.status === 1) {
                                        Hoàn thành
                                    } @else {
                                        Tạm ngưng
                                    }
                                </span>
                            </p>
                            <div class="d-flex align-items-center mb-1 flex-wrap">
                                <strong class="me-1">Tên trung:</strong>
                                <div class="d-flex align-items-center flex-warp">
                                    <a href="https://www.google.com/search?q={{book.chineseBooks[0].chineseTitle}}" target="_blank"
                                        class="text-decoration-none hover-title me-1 "
                                        style="width: max-content;">{{book.chineseBooks[0].chineseTitle}}
                                        <i class="fas fa-search"></i>
                                    </a> 
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="story-detail__list-chapter">
                    <div class="head-title-global justify-content-between mb-2">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 head-title-global__left">
                                <h2 class="me-2 mb-0 border-bottom border-secondary pb-1">
                                    <span href="#" id="chapListScroll"
                                        class="d-block text-decoration-none text-dark fs-4 title-head-name"
                                        title="Danh sách chương">Danh sách chương</span>
                                </h2>
                            </div> 
                        </div>
                    </div>
                   <!-- Mới thêm -->
                   <div class="flex items-center justify-between text-sm bg-gray-200 dark:bg-gray-600 text-black rounded-full px-3 py-1 mb-2">
                        <ul class="space-x-1 space-y-1"> 
                            @for (site of book?.chineseBooks; track $index) {
                                <li class="inline"> 

                                    <!-- Kiểm tra xem site nào đang mở thì in đậm -->
                                    @if (site.id === chineseBookId) {
                                        <button class="btn btn-secondary inline-flex items-center rounded-full px-4 text-xs font-medium space-x-1 cursor-not-allowed"> 
                                            <span class="text-xs font-medium"> {{site.chineseSiteName}} </span>
                                        </button> 
                                    } @else {
                                        <button (click)="GetChaptersByChineseBookId(site.id, 1, 0)" class="btn btn-outline-secondary inline-flex items-center rounded-full px-4 text-xs font-medium space-x-1"> 
                                            <span class="text-xs font-medium"> {{site.chineseSiteName}} </span>
                                        </button> 
                                    }
                                </li> 
                            }
                        </ul> 
                        <div class="flex justify-center space-x-3 md:mt-0"> 
                            <span type="button" (click)="reverseChapters()">
                                @if(!reverseCheck) {
                                    <i class="fa-solid fa-arrow-up-wide-short"></i>
                                } @else {
                                    <i class="fa-solid fa-arrow-up-short-wide"></i>
                                }
                            </span>
                            <span type="button" (click)="GetListChapCrawl(book!.id, chineseBookId!, 1, 0)"> 
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                   <!-- Mới thêm -->
                    <div *ngIf="chapters != undefined" class="story-detail__list-chapter--list">
                        <div class="container">
                            <div class="row d-flex">
                                
                                <!-- Sử dụng col-md-6 để tạo 2 cột khi màn hình có kích thước medium trở lên -->
                                @for (chapter of chapters; track $index) {
                                    <div appRestoreScrollPositon class="col-sm-12 col-md-6 col-lg-4 story-detail__list-chapter--list__item">
                                        <div class="mb-3">
                                            @if (bookRead !== null && bookRead !== undefined && (chapter.chapterIndex) <= bookRead!.chapterIndex) {
                                                <a [routerLink]="['/truyen', book!.slug, book!.id, chineseBookId, chapter.chapterIndex]" class="text-decoration-none text-custom hover-title">
                                                    Chương {{chapter.chapNumber}}: {{chapter.title}}
                                                </a>
                                            } @else {
                                                <a [routerLink]="['/truyen', book!.slug, book!.id, chineseBookId, chapter.chapterIndex]" class="text-decoration-none hover-title">
                                                    Chương {{chapter.chapNumber}}: {{chapter.title}}
                                                </a>
                                            }
                                           
                                        </div>
                                    </div>
                                }
                            </div>
                             <!-- Your component content here -->
                            <ng-container *ngIf="totalPages > 0">
                                <app-pagination [totalPages]="totalPages" [currentPage]="currentPage" (pageChange)="handlePageChange($event)" (click)="scrollChangePage()"></app-pagination>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
