.cursor-not-allowed {
    cursor: not-allowed
}

h1 {
    font-size: 32px !important;
    font-weight: 400 !important;
}

.text-custom {
   color: rgb(107, 107, 107);
}

@media (max-width:992px) {
    .custom-col-max {
      display: none !important;
    }
}
  
@media (min-width:992px) {
    .custom-col-min {
      display: none !important;
    }
}