<ng-http-loader />
    <div class="section-stories-hot mb-3">
        <div class="container">
            <div class="row mb-3">
                <div class="d-flex justify-content-between mb-2">
                    <h3 class="border-bottom border-secondary pb-1">
                    <span class="fs-4 story-name">Truyện đã đọc</span>
                    </h3>
                </div>

                <div class="list-books col-sm-12 col-md-12 col-lg-5">
                    <ul class="list-group">
                        @for (bookRead of bookListRead; track $index) {
                            <li class="list-group-item">
                                <div class="d-flex align-items-center">
                                    <a class="hover-title text-xm" [routerLink]="['/truyen', bookRead.bookSlug]" [queryParams]="{ 'page': 1, 'arrange': 0 }"> {{bookRead.bookTitle}} </a>
                                    <span class="d-flex justify-content-end  flex-grow-1">
                                        <i class="fa-regular fa-circle-xmark btn"></i>
                                    </span>
                                </div>
                                <p>
                                    <span class="text-xs text-secondary">
                                        Chương {{bookRead.chapNumber}}: {{bookRead.chapTitle}}
                                    </span>
                                </p>
                            </li>
                        } @empty {
                            <li class="list-group-item">
                                <p> Chưa có truyện đã đọc </p>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="head-title-global d-flex justify-content-between mb-2">
                    <div class="col-sm-12 col-md-7 col-lg-8 head-title-global__left d-flex align-items-center">
                        <h2 class="me-2 mb-0 border-bottom border-secondary pb-1">
                            <p class="d-block text-decoration-none text-dark fs-4 story-name"
                                title="Truyện Hot">Truyện Đọc Nhiều</p>
                        </h2>
                        <i class="fa-solid fa-fire-flame-curved"></i>
                    </div>
                </div>
            </div>
        
        
            <div class="row">
                <div class="col-12">
                    <div class="section-stories-hot__list">                  
                        @for (book of bookListView; track $index) {
                            <div appRestoreScrollPositon class="story-item">
                                <a [routerLink]="['/truyen', book.slug]" [queryParams]="{ 'page': 1, 'arrange': 0 }" [title]="book.title" class="d-block text-decoration-none">
                                    <div class="story-item__image">
                                        <img src="{{book.coverImage}}" loading="lazy" alt="{{book.title}}" class="img-fluid rounded" width="150"
                                            height="230">
                                    </div>
                                    <h3 class="story-item__name story-name rounded"><div class="text-two-row">{{book.title}}</div></h3>

                                    <div class="list-badge">
                                        <span
                                            class="story-item__badge story-item__badge-hot badge text-bg-danger">
                                            @if(book.status === 0) {
                                                Còn tiếp
                                            } @else if (book.status === 1) {
                                                Hoàn thành
                                            } @else {
                                                Tạm ngưng
                                            }
                                        </span>
                                        <span class="story-item__badge badge text-bg-success">
                                            @if(book.chapterLast !== undefined && book.chapterLast !== null){
                                                {{book.chapterLast.chapterIndex}} chương
                                            } @else {
                                                0 chương
                                            }
                                        </span>
        
                                        <span
                                            class="story-item__badge story-item__badge-new badge text-bg-info text-light"></span>
        
                                    </div>
                                </a>
                            </div>
                        } @empty {
                            <p> Chưa có truyện! </p>
                        }
                </div>            
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-start">
            <div class="section-stories-new mb-3 mt-2">
                <div class="row">
                    <div class="head-title-global d-flex justify-content-between mb-2">
                        <div class="col-6 col-md-4 col-lg-4 head-title-global__left d-flex align-items-center">
                            <h1 class="me-2 mb-0 border-bottom border-secondary pb-1">
                                <p
                                    class="d-block text-decoration-none text-dark fs-4 story-name"
                                    title="Truyện Mới">Truyện Mới</p>
                            </h1>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="section-stories-new__list">
                            @for (book of bookListUpdateAt; track $index) {
                                
                                <div class="story-item-no-image">
                                    <div class="story-item-no-image__categories ms-2 d-none d-lg-block">
                                        <p class="mb-0 text-center">
                                            @for (genre of book.genres; track $index) {
                                                @if ($index < 2) {
                                                    <i
                                                        title="{{ genre.name }}"
                                                        class="hover-title text-decoration-none text-secondary category-name text-one-row text-xs"
                                                    >
                                                        {{ genre.name }} 
                                                    </i>
                                                
                                                }
                                            }
                                        </p>
                                    </div>

                                    <div class="story-item-no-image__name align-items-center d-flex">

                                        <img itemprop="image" loading="lazy"
                                            class="ml-1 rounded" alt="" width="30px" height="40px" 
                                            src="{{book.coverImage}}">

                                        <h3 class="me-1 mb-0 d-flex justify-content-start align-items-center mx-2">
                                            <a [routerLink]="['/truyen', book.slug]"  [queryParams]="{ 'page': 1, 'arrange': 0 }" 
                                                title="{{ book.title }}"
                                                class="text-decoration-none text-dark fs-6 hover-title text-two-row story-name"> {{ book.title }} </a>
                                        </h3>
                                    </div>
                                    
                                    <div class="story-item-no-image__status ms-2 d-none d-lg-block">
                                            <span class="badge text-bg-secondary1 text-light me-1 d-flex justify-content-center" style="font-size: 9px;">
                                                @if(book.status === 0) {
                                                    <ng-container> Còn tiếp </ng-container>
                                                } @else if (book.status === 1) {
                                                    <ng-container> Hoàn thành </ng-container>
                                                } @else {
                                                    <ng-container> Tạm ngưng </ng-container>
                                                }
                                            </span>
                                    </div>

                                    <div class="story-item-no-image__chapters ms-2">
                                        @if(book.chapterLast !== undefined && book.chapterLast !== null){
                                            <p 
                                                title="Chương {{ book.chapterLast.chapNumber }}"
                                                class="hover-title text-decoration-none text-secondary text-two-row text-xm">                                                
                                                    Chương {{ book.chapterLast.chapNumber }}: {{ book.chapterLast.title }}                                               
                                            </p>
                                        }  @else {
                                            Chưa có chương
                                        }
                                    </div>

                                    <div class="story-item-no-image__updated-at ms-2 d-none d-lg-block">
                                        <p 
                                            title="{{ book.updatedAt | timeAgo }}"
                                            class="mb-0 text-decoration-none text-secondary category-name text-one-row" style="font-size: small;">{{ book.updatedAt | timeAgo }}                                    
                                        </p>
                                    </div>
                                </div>
    
                            } @empty {
                                <p> Chưa có truyện! </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-stories-full mb-3 mt-3">
        <div class="container">
            <div class="row">
                <div class="head-title-global d-flex justify-content-between mb-2">
                    <div class="col-12 col-md-4 head-title-global__left d-flex">
                        <h2 class="me-2 mb-0 border-bottom border-secondary pb-1">
                            <span class="d-block text-decoration-none text-dark fs-4 title-head-name"
                                title="Truyện đã hoàn thành">Truyện đã hoàn thành</span>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="section-stories-full__list">
                        @for (book of bookListStatus; track $index) {
                            <div class="story-item-full text-center" title="{{book.title}}">
                                <a 
                                    [routerLink]="['/truyen', book.slug]"  [queryParams]="{ 'page': 1, 'arrange': 0 }" 
                                    class="d-block story-item-full__image">
                                    <img src="{{book.coverImage}}" alt="{{book.title}}" class="img-fluid w-100 rounded"
                                        width="150" height="230" loading="lazy">
                               
                                    <h3 class="fs-6 story-item-full__name fw-bold text-center mb-0 rounded">
                                        <p 
                                            class="text-xs text-white text-two-row story-name">
                                            {{book.title}}
                                        </p>
                                    </h3>
                                    <span class="story-item-full__badge badge text-bg-success">
                                        @if(book.chapterLast !== undefined && book.chapterLast !== null){
                                            Full - {{book.chapterLast.chapterIndex}} chương
                                        } @else {
                                            0 chương
                                        }
                                    </span>
                                </a>
                            </div>
                        } @empty {
                            <p> Chưa có truyện! </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


