
<ng-http-loader />
<div class="chapBody">
    <div *ngIf="chapterModel != undefined" class="chapter-wrapper container my-5">
        <a [routerLink]="['/truyen', bookSlug]" class="text-decoration-none">
            <h1 class="text-center text-success"> {{ chapterModel.bookTitle }} </h1>
        </a>
        <div class="text-decoration-none px-1 mt-2 mb-2">
            <h4 class="text-center text-dark">Chương {{chapterModel.chapNumber}}: {{chapterModel.title}}</h4>
        </div>
        <hr class="chapter-start container-fluid">
        <div class="chapter-nav text-center">
            <div class="chapter-actions chapter-actions-origin d-flex align-items-center justify-content-center">
            
                @if (chapterIndex! <= 1) {
                    <a class="btn btn-success mt-2 mb-2 me-1 me-1 chapter-prev" [routerLink]="['/truyen', bookSlug]"> 
                        <span>Chương</span> trước</a>
                } @else {
                    <a class="btn btn-success mt-2 mb-2 me-1 me-1 chapter-prev" [routerLink]="['/truyen', bookSlug, bookId, chineseBookId,  chapterIndex!-1]"> 
                        <span>Chương</span> trước</a>
                }
                <a class="btn btn-success chapter_jump me-1" [routerLink]="['/truyen', bookSlug]">
                    <span>
                        <i class="fa-solid fa-bars"></i>
                    </span>
                </a>
            

                <div class="dropdown select-chapter me-1 d-none">
                    <a class="btn btn-secondary dropdown-toggle" role="button"
                        id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    </a>

                    <ul class="dropdown-menu select-chapter__list" aria-labelledby="dropdownMenuLink">

                    </ul>
                </div>
                <a class="btn btn-success chapter-next" [routerLink]="['/truyen', bookSlug, bookId, chineseBookId, chapterIndex!+1]">
                    <span>Chương</span> tiếp</a>
            </div>
        </div>
        <hr class="chapter-end container-fluid">

        <div class="chapter-content mb-3">
        
            <div appRestoreScrollPositon class="mt-2 lh-lg" style="font-size: 17px;" [innerHTML]="safeHtml"></div>

            <hr class="chapter-start container-fluid">
            <div class="chapter-nav text-center">
            
                <div class="chapter-actions chapter-actions-origin d-flex align-items-center justify-content-center">
                
                        @if (chapterIndex! <= 1) {
                            <a class="btn btn-success mt-2 mb-2 me-1 me-1 chapter-prev" [routerLink]="['/truyen', bookSlug]"> 
                                <span>Chương</span> trước</a>
                        } @else {
                            <a class="btn btn-success mt-2 mb-2 me-1 me-1 chapter-prev" [routerLink]="['/truyen', bookSlug, bookId, chineseBookId, chapterIndex!-1]"> 
                                <span>Chương</span> trước</a>
                        }
                    
                        <a class="btn btn-success chapter_jump me-1" [routerLink]="['/truyen', bookSlug]">
                            <span>
                                <i class="fa-solid fa-bars"></i>
                            </span>
                        </a>

                    <div class="dropdown select-chapter me-1 d-none">
                        <a class="btn btn-secondary dropdown-toggle" role="button" 
                            id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        </a>

                        <ul class="dropdown-menu select-chapter__list" aria-labelledby="dropdownMenuLink">
                        
                        </ul>
                    </div>
                    <a class="btn btn-success chapter-next" [routerLink]="['/truyen', bookSlug, bookId, chineseBookId, chapterIndex!+1]">
                        <span>Chương</span> tiếp</a>
                </div>
            </div>
            <hr class="chapter-end container-fluid">
    </div>
</div>