<div class="{{darkLight}}">
    <!-- Start Navbar -->
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
              <a class="navbar-brand" [routerLink]="['/']">Truyện Mới</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Thể loại
                        </a>
                        <ul class="dropdown-menu dropdown-menu-custom">
                            @for (genre of genreListModel; track $index) {
                                <li>
                                    <a class="dropdown-item" [routerLink]="['/truyen/']" [queryParams]="{ 'the-loai': genre.id, 'page': 1 }">
                                        {{genre.name}}
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active" role="button" [routerLink]="['nguon-nhung']"
                            aria-expanded="false">
                            Nguồn nhúng hỗ trợ
                        </a>
                    </li>
                </ul>
                <div class="form-check form-switch mr-3 d-flex" style="padding-left: 0em !important;">
                    <label class="navbar-nav mb-2 mb-lg-0 form-check-label">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-brightness-high" viewBox="0 0 16 16" style="fill: #fff;">
                            <path
                                d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z">
                            </path>
                        </svg>
                    </label>
                    <input [checked]="checked"                          
                        (click)="turnOnOrOffDarkLight()"
                        class="navbar-nav mb-2 mb-lg-0 form-check-input theme_mode" type="checkbox"
                        style="transform: scale(1.3); margin-left: 12px; margin-right: 12px;">

                    <label class="navbar-nav mb-2 mb-lg-0 form-check-label">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 384 512"
                            style="fill: #fff;">
                            <path
                                d="M144.7 98.7c-21 34.1-33.1 74.3-33.1 117.3c0 98 62.8 181.4 150.4 211.7c-12.4 2.8-25.3 4.3-38.6 4.3C126.6 432 48 353.3 48 256c0-68.9 39.4-128.4 96.8-157.3zm62.1-66C91.1 41.2 0 137.9 0 256C0 379.7 100 480 223.5 480c47.8 0 92-15 128.4-40.6c1.9-1.3 3.7-2.7 5.5-4c4.8-3.6 9.4-7.4 13.9-11.4c2.7-2.4 5.3-4.8 7.9-7.3c5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-3.7 .6-7.4 1.2-11.1 1.6c-5 .5-10.1 .9-15.3 1c-1.2 0-2.5 0-3.7 0c-.1 0-.2 0-.3 0c-96.8-.2-175.2-78.9-175.2-176c0-54.8 24.9-103.7 64.1-136c1-.9 2.1-1.7 3.2-2.6c4-3.2 8.2-6.2 12.5-9c3.1-2 6.3-4 9.6-5.8c6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-3.6-.3-7.1-.5-10.7-.6c-2.7-.1-5.5-.1-8.2-.1c-3.3 0-6.5 .1-9.8 .2c-2.3 .1-4.6 .2-6.9 .4z">
                            </path>
                        </svg>
                    </label>
                </div>
              
                <form class="navbar-nav d-flex mb-2 mb-lg-0 header__form-search mr-2"  (ngSubmit)="search()" method="GET">
                    <input class="form-control search-story" type="text" placeholder="Tìm kiếm, link nhúng" name="key_word"
                        [(ngModel)]="value">
                    <div class="col-12 search-result shadow no-result d-none">
                        <div class="card text-white bg-light">
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush d-none">
                                    <li class="list-group-item">
                                        <a href="#" class="text-dark hover-title">

                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <button class="btn" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form> 
               
                <!-- Start Đăng nhập, đăng ký -->
                <app-account></app-account>
                <!-- End Đăng nhập, đăng ký -->
                
              </div>
            </div>
        </nav>
    </header>
    <!-- End Navbar -->
  
    <div class="bg-light header-bottom">
        <div class="container py-1">
            <p class="mb-0">Đọc truyện online, đọc truyện chữ, truyện full, truyện hay. Tổng hợp đầy đủ và cập nhật liên
                tục.</p>
        </div>
    </div>
    <!-- END NAV -->

    <!-- START MAIN -->
    <main>
        <router-outlet></router-outlet>
    </main>
    <!--END MAIN -->

    <!-- START FOOTER -->
    <div id="footer" class="footer border-top pt-2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5" style="color: aliceblue;">
                    <strong>Truyện Mới</strong> - <a title="Đọc truyện online" class="text-decoration-none"
                        href="#">Đọc truyện</a> online một cách nhanh nhất. Hỗ trợ mọi thiết bị như
                    di
                    động và máy tính bảng.
                </div>
                <ul class="col-12 col-md-7 list-unstyled d-flex flex-wrap list-tag">
                    @for (genre of genreListModel; track $index) {
                        <li class="me-2 mb-1">
                           
                            <a class="text-dark text-decoration-none"
                                [routerLink]="['/truyen/']" [queryParams]="{ 'the-loai': genre.id, 'page': 1  }" 
                                title="{{genre.name}}">
                                <span class="badge text-bg-light">
                                    <u class="text-decoration-none text-dark">{{genre.name}}</u>
                                </span>
                            </a>
                           
                        </li>
                    }
              
                </ul>

                <div class="col-12 mb-2 mt-2"> <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img
                            alt="Creative Commons License" style="border-width:0;margin-bottom: 10px"
                            src="./assets/images/88x31.png"></a><br>
                    <p style="color: aliceblue;">Website hoạt động dưới Giấy phép truy cập mở <a rel="license"
                            class="text-decoration-none hover-title" style="color: aliceblue;"
                            href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0
                            International License</a></p>
                </div>
            </div>
        </div>
    </div>

    <div id="loadingPage" class="loading-full">
        <div class="loading-full_icon">
            <div class="spinner-grow"><span class="visually-hidden">Loading...</span></div>
        </div>
    </div>

<!-- END FOOTER -->
</div>   