<div #flag class="max-w-screen-xl mx-auto">
    <section id="filter-panel" class=" px-2 py-2">
        <div class="box-title flex justify-between items-center">
            <h3 class="uppercase"><p>Tìm Kiếm Nâng Cao</p></h3>
        </div>
        <form [formGroup]="searchForm" (submit)="submitSearch(1)">
            <div class="px-4 space-y-3" id="filter-setting">
                <div class="flex flex-col md:flex-row">
                    <div class="text-dec flex-none font-bold w-32 my-2">Tình trạng</div>
                    <div class="grow grid grid-cols-2 gap-4 sm:grid-cols-4 text-sm" id="status">
                      <div class="flex items-center" *ngFor="let status of [0, 1, 2]; let i = index">
                        <input [id]="'st-' + (i + 1)" type="checkbox" [formControl]="getStatusControl(i)" class="hidden">
                        <label [for]="'st-' + (i + 1)" class="text-dec flex items-center cursor-pointer">
                          <span class="w-4 h-4 inline-block mr-2 border border-secondary"></span>
                          {{ getStatusText(status) }}
                        </label>
                      </div>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row">
                    <div class="text-dec flex-none font-bold w-32 my-2">Thể loại</div>
                    <div class="grow grid grid-cols-2 gap-4 sm:grid-cols-4 text-sm mt-2" id="genre">
                      <!-- Loop through genres and display radio button -->
                      @for (genre of genres; track $index) {
                            <div class="flex items-center">
                                <input [checked]="genre.id === 0" id="tl{{ genre.id }}" type="radio" name="genre" [formControl]="getGenreControl($index)" [value]="genre.name">&nbsp;
                                <label for="tl{{ genre.id }}" class="text-dec flex items-center cursor-pointer">
                                  {{ genre.name }}
                                </label>
                            </div>
                      }
                    </div>
                </div>

                <div class="flex flex-col md:flex-row">
                    <div class="text-dec flex-none font-bold w-32 my-2">Độ dài chương</div>
                    <div class="grow grid grid-cols-2 gap-4 sm:grid-cols-4 text-sm mt-2" id="chapLength">
                      <!-- Loop through genres and display radio button -->
                      <div *ngFor="let chapLength of chapLengthValues; let i = index" class="flex items-center">
                        <input id="c-{{i+1}}" type="radio" name="chapLength" [formControl]="getChapLengthControl(i)" [value]="chapLength + 1" [checked]="chapLength === 0">&nbsp;
                        <label for="c-{{i+1}}" class="text-dec flex items-center cursor-pointer">
                           @if (chapLength === 0) {Tất cả} @else {> {{ chapLength }}} 
                        </label>
                      </div>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row">
                    <div class="flex-none font-bold w-32 my-2 text-dec">Từ khóa</div>
                    <div class="grow"> 
                        <input id="keyword" name="keyword" formControlName="keyword" class="w-full h-10 px-2 border border-secondary"
                            placeholder="tên truyện, tác giả ... không bắt buộc" value=""> 
                    </div>
                </div>
                <div class="flex justify-center"> 
                    <button type="submit" id="button-filter"
                        class="my-4 px-5 py-2 text-sm font-medium rounded-lg btn-primary">
                        Tìm Truyện
                    </button> 
                </div>
            </div>
        </form>
    </section>

    @if (checkLoadingSpin) {
        <div class="d-flex justify-content-center align-items-center" style="height: 26vh;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }

    <section *ngIf="!checkLoadingSpin" id="filter-result" class=" px-2 py-2 mt-6">
        <div>
            <div class="box-title flex justify-between items-center">
                <h3 class="uppercase">
                    @if(genreParam !== undefined){
                        Thể loại: {{genre?.name}}
                     } @else if (bookParam !== undefined || keywordParam !== undefined) {
                        Từ tìm kiếm: {{bookParam}}
                     } 
                </h3>
            </div>

            <div *ngIf="genreParam !== undefined && genres !== undefined" class="box-content">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    @for (book of genre?.bookInGenreDtos; track $index) {
                        <div class="flex space-x-3 py-2 px-3">
                            <div class="flex-shrink-0"> <a [routerLink]="['/truyen', book.slug]"
                                    class="text-title font-semibold"> <img class="h-32 w-24 shadow-lg rounded"
                                        src="{{book.coverImage}}"
                                        alt="Ta thật sự là Văn Sao Công" loading="eager"> </a> </div>
                            <div class="grow space-y-2">
                                <div class="flex items-center space-x-1"> <a
                                        [routerLink]="['/truyen', book.slug]"
                                        class="text-title font-semibold hover-title"> {{book.title}}</a> </div>
                                <div class="text-gray-500 text-sm text-overflow-multiple-lines text-dec" [innerHTML]="book.description"></div>
                                <div class="mt-1 space-y-1">
                                    <div class="flex justify-between text-gray-500">
                                        <div class="flex items-center space-x-1"> <svg xmlns="http://www.w3.org/2000/svg"
                                                class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd"
                                                    d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                                    clip-rule="evenodd"></path>
                                            </svg> <a href="https://nhungtruyen.com/tac-gia/toan-chuyen-hong-hoa"
                                                target="_blank"><span class="text-xs truncate hover-title text-dec"> {{book.authorName}} </span></a> </div>
                                        <div> 
                                            <span class="text-xs bg-gray-200 py-1 px-2">
                                                @if (book.status === 0) {
                                                    Còn tiếp
                                                } @else if (book.status === 1) {
                                                    Hoàn thành
                                                } @else {
                                                    Tạm ngưng
                                                }
                                            </span>
                                        </div>
                                    </div>
                                    <div class="flex justify-between text-gray-500">
                                        <div class="flex items-center space-x-1"> <svg xmlns="http://www.w3.org/2000/svg"
                                                class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                                                <path
                                                    d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z">
                                                </path>
                                            </svg> <a target="_blank">
                                                <span class="text-xs truncate text-dec"> 
                                                    {{genre?.name}}
                                                </span>
                                            </a>
                                        </div>
                                        <div>
                                            <i class="fa-solid fa-bars"></i>
                                            @if(book.chapterLast !== null) {
                                                <a class="text-xs py-1 px-2 text-dec"> 
                                                    {{book.chapterLast.chapterIndex}} chương
                                                </a>
                                            } @else {
                                                <a class="text-xs py-1 px-2 text-dec">0 chương</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
        </div>

        <div *ngIf="(bookParam !== undefined || keywordParam !== undefined) && booksTotal !== undefined" class="box-content">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                @for (book of booksTotal!.books; track $index) {
                    <div class="flex space-x-3 py-2 px-3">
                        <div class="flex-shrink-0"> <a [routerLink]="['/truyen', book.slug]"
                                class="text-title font-semibold"> <img class="h-32 w-24 shadow-lg rounded"
                                    src="{{book.coverImage}}"
                                    alt="Ta thật sự là Văn Sao Công" loading="eager"> </a> </div>
                        <div class="grow space-y-2">
                            <div class="flex items-center space-x-1"> <a
                                    [routerLink]="['/truyen', book.slug]"
                                    class="text-title font-semibold hover-title"> {{book.title}}</a> </div>
                            <div class="text-gray-500 text-sm text-overflow-multiple-lines text-dec" [innerHTML]="book.description"></div>
                            <div class="mt-1 space-y-1">
                                <div class="flex justify-between text-gray-500">
                                    <div class="flex items-center space-x-1"> <svg xmlns="http://www.w3.org/2000/svg"
                                            class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd"
                                                d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                                clip-rule="evenodd"></path>
                                        </svg> <a href="https://nhungtruyen.com/tac-gia/toan-chuyen-hong-hoa"
                                            target="_blank"><span class="text-xs truncate hover-title text-dec"> {{book.authorName}} </span></a> </div>
                                    <div> 
                                        <span class="text-xs bg-gray-200 py-1 px-2">
                                            @if (book.status === 0) {
                                                Còn tiếp
                                            } @else if (book.status === 1) {
                                                Hoàn thành
                                            } @else {
                                                Tạm ngưng
                                            }
                                        </span>
                                    </div>
                                </div>
                                <div class="flex justify-between text-gray-500">
                                    <div class="flex items-center space-x-1"> <svg xmlns="http://www.w3.org/2000/svg"
                                            class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                                            <path
                                                d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z">
                                            </path>
                                        </svg> 
                                            <a target="_blank">
                                                <span class="text-xs truncate text-dec"> 
                                                    @for (genre of book.genres; track $index) {
                                                        {{genre.name}} &nbsp;
                                                    }
                                                </span>
                                            </a>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-bars"></i>
                                        @if(book.chapterLast !== null) {
                                            <a class="text-xs py-1 px-2 text-dec"> 
                                                {{book.chapterLast.chapterIndex}} chương
                                            </a>
                                        } @else {
                                            <a class="text-xs py-1 px-2 text-dec">0 chương</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
            </div>
        </div>


       <!-- Your component content here -->
        <ng-container *ngIf="genreParam !== undefined && totalPages > 0">
            <app-pagination [totalPages]="totalPages" [currentPage]="currentPage" (pageChange)="handlePageChange($event)"></app-pagination>
        </ng-container>

        <!-- Your component content here -->
        <ng-container *ngIf="bookParam !== undefined && totalPages > 0">
            <app-pagination [totalPages]="totalPages" [currentPage]="currentPage" (pageChange)="handlePageChange($event)"></app-pagination>
        </ng-container>

         <!-- Your component content here -->
         <ng-container *ngIf="keywordParam !== undefined && totalPages > 0">
            <app-pagination [totalPages]="totalPages" [currentPage]="currentPage" (pageChange)="submitSearch($event)"></app-pagination>
        </ng-container>
    </section>
</div>
 