<div id="cate-rating" class="cate-rating rate-story mb-2 mt-1">
    <div class="stars text-center" #starsContainer>
        @for (star of stars; track $index) {
            <a 
                [id]="'star-' + star.value"
                class="star me-1" [ngClass]="ratingAvg !== undefined && $index <= (ratingAvg.ratingValueAvg - 1) ? 'vote-active' : ''"
                [title]="star.title"
                (mouseover)="onMouseOver(star)"
                (mouseout)="onMouseOut(star)"
                (click)="onClick(star)"
            >
                <i class="fa-solid fa-star"></i>
            </a>
        }
     
      <p id="vote-desc">
        @if (ratingAvg !== undefined && ratingAvg.count > 0) {
            Đánh giá: <span class="blue"> {{ratingAvg.ratingValueAvg}}/10</span> từ <b> {{ratingAvg.count}} </b> lượt
        } @else {
            Chưa có đánh giá!
        }
        
      </p>
    </div>
    <div class="clearfix"></div>
</div>